<div class="register-box">
  <div class="register-logo">
    <a ui-sref="login"><b>ZED</b>PAITA</a>
  </div>
  <div class="register-box-body">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <h3>Crear una nueva cuenta</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <register-form></register-form>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <a ui-sref="login">Ya tengo una cuenta</a>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12">
        Al registrarse, Usted acepta nuestros <a href="#">Términos</a> y confirma que ha leido nuestra <a href="#">Política de Privacidad</a>.
      </div>
    </div>
  </div>
</div>
